{% extends "base.html" %}

{% block content %}



   {% if companies %}
      <a class="red_text" href="{{url_for('search_page')}}">Tilbake</a>
      <h1 class="red_text">Fant ikke bedrift</h1>
      <p class="styled_text">Under er alle bedrifter som starter på {{companies[0][1][0]}}</p>
      <hr>
      <p class="styled_text">{{len_companies}} bedrifter:</p>
      {% for company in companies %}
         <p>{{company[0]}}  |   {{company[1]}}   |  <a class="styled_text" href="{{url_for('company_search', company=company[0])}}">-></a></p>
      {% endfor %}

   {% elif company_info %}
         <div style="margin:30px">
            <h1>{{company_info["brreg_info"]["org_navn"]}}</h1>
            <h3>org. nr: {{company_info["brreg_info"]["org_nr"]}}</h3>
            <hr>

            <h2>Info</h2>
            {% for item in company_info["brreg_info"] %}
               <p>{{item}} : {{company_info["brreg_info"][item]}}</p>
            {% endfor %}
            <hr>

            <h2>External Info</h2>
            {% for item in company_info["external_info"] %}
               <p>{{item}} : {{company_info["external_info"][item]}}</p>
            {% endfor %}
            <hr>

            <h2>Names</h2>
            {% for item in company_info["formatted_names"] %}
               <p>{{item}} : {{company_info["formatted_names"][item]}}</p>
            {% endfor %}
         </div>
   {% endif %}
{% endblock %}

