{% extends "base.html" %}


{% block content%}
<div class="center_div" style="width: 60%; background-color: rgb(255, 208, 53); border-radius: 15px; padding: 3px 20px 3px 20px; color: rgb(17, 17, 17)">
    <p>⚠️ Denne nettsiden er fortsatt en prototype, backend og funksjonalitet har vært hovedfokus. Som betyr at fuksjonalitet og responsivitet på mobil er ikke optimal. </p>
</div>

<h2 class="styled_text" style="text-align: center;"> Vi henter ut opplysninger om bedrifter for deg!</h2>


<div class="index_info_boxes">
    <div class="rotate_icon">📌</div>
    <h3 style="display: inline;">Vi finner bedriften og presanterer lokasjonen for deg!</h3>
</div>

<div class="index_info_boxes">
    <h3 style="display: inline;">Søker og finner hjemmesider og relatert innhold!</h3>
    <div class="rotate_icon">🌐</div>
</div>

<div class="index_info_boxes">
    <div class="rotate_icon">📧	</div>
    <h3 style="display: inline;">Bistand med å finne aktuelle E-post adresser!</h3>
</div>

<div class="index_info_boxes">
    <h3 style="display: inline;">Hente ut nøkkelinfo fra registeret!</h3>
    <div class="rotate_icon">📜</div>
</div>
{% endblock %}