
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.5rem + 0.15vw, 1.5rem);
    color: var(--lighter);

    --darker: #111111;
    --dark: #1F1F1F;
    --dark_transparent: #262626d0;
    --lighter: #6e6e6e;
    --highlight: #5be469;
    --red: rgb(240, 105, 105);
    --red_transparent: rgba(240, 105, 105, 0.11);
    background-image: url("../img/background.png");
}


.index_info_boxes {
    font-size: 0.8rem;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    color: rgb(179, 179, 179);
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #1F1F1F;
    padding: 30px;
    border-radius: 13px;
    transition: background-color ease 0.5s;
}

.index_info_boxes:hover {
    background-color: #1d1d1d;

}



.index_info_boxes:hover .rotate_icon{
    cursor: default;
    top: -10px;
    transform: rotate(-10deg);
}


.rotate_icon {
    font-size: 1.5rem;
    display: inline-block;
    position: relative;
    top: 5px;
    transform: rotate(0deg);
    transition: all ease 0.5s;
    margin: 0px 20px 0px 20px;
}

.styled_text {
    color: var(--highlight);
    text-decoration: none;
    
    background-image: linear-gradient(45deg, #f3e178, #db5656);
    background-clip: text;
    background-size: 100%;
    transition: ease-in 0.2s;
}

.red_text {
    color: var(--red);
}


.styled_text:hover {
    color: rgba(255, 255, 255, 0);
}

.highlight_border {
    border: 1px solid var(--highlight)
}

body {
    padding: 0px;
    margin: 0px;
}

.flash_messages {
    color: var(--red);
    background-color: rgba(20, 20, 20, 0.068);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}


.navbar {
    width: 100%;
    background-color: var(--dark_transparent);
    margin: 0px;
    margin-bottom: 5vh;
    height: 8vh;
}

.nav_left {
    display: flex;
    align-items: center;
    float: left;
    height: 100%;
}

.nav_right {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
}

.navbar a {
    padding: 0px 30px 0px 30px;
    color: var(--highlight);
    text-decoration: none;
    
    background-image: linear-gradient(45deg, #f3e178, #db5656);
    background-clip: text;
    background-size: 100%;
    transition: ease-in 0.2s;
}

.navbar a:hover {
    color: rgba(255, 255, 255, 0);
}

.center_div {
    margin: auto;
}

.form {
    margin: auto;
    width: 80%;

    border-radius: 10px;
    padding: 20px;
    padding-bottom: 40px;
}

.form input {
    margin: auto;
    margin-bottom: 5px;
    display: block;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;

    height: 4vh;
    width: 45vh;
    max-width: 100%;
    border: 1px solid #161616;
    border-radius: 7px;
    padding-left: 15px;
}

.form input::placeholder {
    text-align: center;
}


.form_submit_green {
    background-color: var(--highlight);
    transition: ease-in 0.1s;
}

.form_submit_red {
    background-color: rgb(240, 105, 105);
    transition: ease-in 0.1s;
}

.form_submit_green:hover {
    background-color: #a3f1ab;
    cursor: pointer;
}

.form_submit_red:hover {
    background-color: rgb(224, 148, 148);
    cursor: pointer;
}


.main_frame {
    border-radius: 10px;
    width: 90%;
    margin: auto;
}

.content_frame {
    background-color: var(--dark_transparent);
    border-radius: 10px;
    margin: auto;
    width: 90%;
    min-height: 70vh;
    padding: 5vh;
}

td {
    padding: 5px 15px 5px 15px;
}

.border_td {
    border: #1F1F1F solid 3px;
    border-radius: 8px;
}