{% extends "base.html" %}


{% block navigation_bar_links %}
{% endblock %}

{% block content %}
    <h1>Administrasjon</h1>
    <hr>

    <table class="center_div"">
        <thead>
            <td class="styled_text border_td">E-Post</td>
            <td class="styled_text border_td">Registrert</td>
            <td class="styled_text border_td">Tillatelser</td>
        </thead>
    {% for user in users %}
        <tr>
            <td class="border_td">{{user.company_email}}</td>
            <td class="border_td">{{user.register_date}}</td>
            <td class="border_td">{{user.permission}}</td>
            <td class="border_td"><a style ="text-decoration: none; color: #5be469" href="{{url_for('usermanagement', company_email=user.company_email)}}">Rediger</a></td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <hr>

    <h2>Oppdater BRREG-Data</h2>
    <p><a class="styled_text" href="{{url_for('update_local_data')}}">📡 Oppdater Lokal-Data <span class="red_text">⛔ Dette vil fryse nettsiden i 3-5 minutter.</span></a></p>
    <p><a class="styled_text" href="{{url_for('update_api_data')}}">📡Oppdater API-Data</a></p>
    <hr>
    <h2>Nullstilling</h2>
    <p><a class="styled_text" href="{{url_for('clear_cache')}}">📡 Nullstill Cache</a></p>
    <hr>
{% endblock %}